.login {
  text-align: center;
  font-family: "Eczar", serif;
  font-size: 13px;
}
.login h1 {
  color: #1d3924;
  margin-top: 0;
}

.login_app {
  padding-top: 3rem;
}

.login_app ul {
  list-style: none;
  max-width: 300px;
  margin: auto;
}

.login_app ul li {
  border: 1px solid #a5bcac66;
  width: 90%;
  margin-bottom: 10px;
  padding: 6px;
  box-shadow: 0 2px 4px rgb(106 116 110 / 25%);
  border-radius: 5px;
  text-align: left;
}

.login_app ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #033310;
}
.login_app ul li a img {
  width: 24px;
  margin-right: 20px;
  vertical-align: middle;
}

#login_paragraph {
  color: #beb9b9eb;
  padding-left: 0.8rem;
}

@media only screen and (max-width: 768px) {
}
