.forgot_password {
  max-width: 300px;
  margin: auto;
  padding-top: 8rem;
}

.forgot_passwordText {
  box-shadow: 0 2px 4px rgb(106 116 110 / 25%);
  width: 85%;
  padding: 9%;
  text-align: center;
}
.forgot_passwordText h1 {
  color: #1d3924;
  border-bottom: 1px solid #a5bcac66;
}
.forgot_passwordText form input {
  padding: 6px;
  margin-bottom: 10px;
  border: 1px solid #98a29b7a;
  border-radius: 5px;
}
.forgot_passwordText form input:focus {
  outline: none;
  background-color: rgb(168, 243, 197);
  color: #1d3924;
}
