#navbarScroll {
  flex-grow: 0;
}

#home-navbar {
  background: rgb(94, 240, 160);
  background: linear-gradient(
    0deg,
    rgba(94, 240, 160, 1) 0%,
    rgba(17, 149, 39, 1) 85%
  );
  font-family: "Karma", serif;
}
#navbar-admin {
  color: white;
  margin-left: 20px;
  font-size: 25px;
  font-family: "Karma", serif;
}
#navbar-logo {
  width: 75px;
  border-radius: 50%;
  margin-right: 20px;
}
#navbar-item {
  margin-right: 10px;
}
#navbar-item :hover {
  background-color: #4dcf6e;
  border: 1px solid #4dcf6e;
  border-radius: 5px;
}
#navbar-link {
  color: white;
  font-size: 20px;
}
#hamburger-meniu-icon {
  display: none;
}
#add-expense {
  display: none;
}
#overlay {
  display: none;
  position: fixed;
  width: 30%;
  height: 100%;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.mobile-navbar-full-page .mobile-elements {
  display: none;
  margin-left: -50rem;
}

@media only screen and (max-width: 990px) {
  #hamburger-meniu-icon {
    display: inline;

    margin-right: 1rem;
  }

  #hamburger-meniu-icon img {
    max-width: 100%;
  }
  #navbar-logo {
    display: none;
  }
  #navbar-admin {
    margin-left: 0px;
  }
  #add-expense {
    display: inline;
  }
  /* -----------------Navbar elements--------------- */

  .mobile-navbar-full-page {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .mobile-navbar-full-page .mobile-elements {
    display: block;
    margin-left: 0;
    width: 70%;
    height: 100%;
    border: 1px solid #a5bcac66;
    box-shadow: 0 2px 4px rgb(106 116 110 / 25%);
  }
  .mobile-navbar-full-page .mobile-navbar {
    width: 100%;
    background-color: #4dcf6e;
    font-family: "Karma", serif;

    color: white;
    font-size: 25px;
    height: 5rem;
  }

  .mobile-navbar-logo {
    width: 60px;
    border-radius: 50%;
    padding: 0.5rem;
    margin: 0.5rem;
  }
  .mobile-navbar-user {
    margin-left: 12px;
    position: absolute;
    top: 1rem;
  }
  .mobile-navbar-title-app {
    font-size: 12px;
    position: inherit;
    margin-top: -1.5rem;
    margin-left: 5.5rem;
  }

  /* -----------------Home elements------------------ */

  .mobile-full-home-page {
    width: 80%;
  }

  .mobile-ul {
    list-style-type: none;
    font-family: "Karma", serif;
  }

  .mobile-item {
    margin-top: 1rem;
  }

  .mobile-link {
    text-decoration-line: none;
    color: #1d3924;
  }

  .mobile-img {
    width: 2rem;
    margin-right: 1rem;
  }

  #overlay {
    display: block;
    opacity: 1;
  }
  .hr-mobile-navbar {
    height: 1px;
    margin-left: -3rem;
    background-image: linear-gradient(to right, transparent, #ccc);
  }
}
