.mobile-navbar-full-page .mobile-elements {
  display: none;
}

@media only screen and (max-width: 990px) {
  .mobile-navbar-full-page {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .mobile-navbar-full-page .mobile-elements {
    display: block;
    margin-left: 0;
    width: 70%;
    height: 100%;
    border: 1px solid #a5bcac66;
    box-shadow: 0 2px 4px rgb(106 116 110 / 25%);
  }
  .mobile-navbar-full-page .mobile-navbar {
    width: 100%;
    background-color: #4dcf6e;
    font-family: "Karma", serif;

    color: white;
    font-size: 25px;
    height: 5rem;
  }

  .mobile-navbar-logo {
    width: 60px;
    border-radius: 50%;
    padding: 0.5rem;
    margin: 0.5rem;
  }
  .mobile-navbar-user {
    margin-left: 12px;
    position: absolute;
    top: 1rem;
  }
  .mobile-navbar-title-app {
    font-size: 12px;
    position: inherit;
    margin-top: -1.5rem;
    margin-left: 5.5rem;
  }
  /* -----------------Home elements------------------ */

  .mobile-full-home-page {
    width: 80%;
  }

  .mobile-ul {
    list-style-type: none;
    font-family: "Karma", serif;
  }

  .mobile-item {
    margin-top: 1rem;
  }

  .mobile-link {
    text-decoration-line: none;
    color: #1d3924;
  }

  .mobile-img {
    width: 2rem;
    margin-right: 1rem;
  }

  #overlay {
    display: block;
    opacity: 1;
  }
  .hr-mobile-navbar {
    height: 1px;
    margin-left: -3rem;
    background-image: linear-gradient(to right, transparent, #ccc);
  }
}
