.overviewItem-full-page {
  width: 100%;
  height: 100%;
  font-family: "Karma", serif;
  background-color: #f2f7f5;
}

.overviewItem-expense {
  padding: 1rem;
}
.overviewItem-li {
  list-style: none;
  font-size: 17px;
  color: #1d3924;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgb(106 116 110 / 25%);
  background-color: white;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
}
